<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Base page</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        <nav class="navbar navbar-default navbar-static-top">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-link" href="{% url "index" %}">Index</a></li>
                    <li><a class="navbar-link" href="{% url "admin:index" %}">Admin</a></li>
                    <li><a class="navbar-link" href="{% url "basic_app:other" %}">Other</a></li>
                    <!-- add link for reltive_url.html here -->
                </ul>
            </div>
        </nav>
        <div class="container">
            {% block body_block %}
                <!-- anything outside of this will be inherited if you extend -->
            {% endblock %}
        </div>
    </body>
</html>