<!DOCTYPE html>

<!-- extend from the template that has been created in base.html -->
{% extends "basic_app/base.html" %}
    {% block body_block %}
        {% load custom_templates %}
        <h1>Welcome to index page</h1>
        <h2>Example of template inheritance</h2>
        <!-- contents passed from context_dictionary dictionary of index function of views.py -->
        <!-- upper is a string method, as in Python that converts string to upper case -->
        <h3>{{ text|upper }}</h3>
        <h3>{{ number|add:120 }}</h3>
        <h3>{{ text|cut:"world" }}</h3>
        <h3>{{ number|sqa:20 }}</h3>
        <h3>{{ "value"|upper }}</h3>
    {% endblock %}
