<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Relative Url</title>
    </head>
    <body>
        <h1>This is the relative url page.</h1>
        <!-- in url, basic_app represents the value of app_name global variable that we have set in urls.py of basic_app/urls.py -->
        <!-- other below represents that name of path function that exist in the file that's app_name has been set as basic_app -->
        <a href="{% url 'basic_app:other' %}">Other</a>
        <a href="{% url 'index' %}">Index</a>
        <a href="{% url 'admin:index' %}">Admin</a>
    </body>
</html>